# 1. Importation des  libraries

In [50]:
# Importation de packages
import numpy as np
import pandas as pd

# 2. Charger les donnees

In [51]:
data = pd.read_csv("unhcr-situations.csv")

In [52]:
data.head()

,Country,ISO3,Country of Origin,ISO3 of Origin,Population type,Source,Date,Individuals
0,Angola,AGO,Chad,TCD,Asylum-Seekers,"UNHCR, Government",2024-06-30,968
1,Angola,AGO,Chad,TCD,Asylum-Seekers,"UNHCR, Government",2024-07-31,968
2,Angola,AGO,Chad,TCD,Asylum-Seekers,"UNHCR, Government",2024-08-31,968
3,Angola,AGO,Chad,TCD,Asylum-Seekers,"UNHCR, Government",2024-09-30,968
4,Angola,AGO,Chad,TCD,Asylum-Seekers,"UNHCR, Government",2024-11-30,968

In [53]:
# Verification de la dimension
data.shape

(1191, 8)

In [54]:
# Verifier les type de donnees unique
data['Country'].unique()

array(['Angola', 'Burundi', 'Benin', 'Burkina Faso',
       'Central African Republic', "Cote d'Ivoire", 'Cameroon',
       'Democratic Republic of the Congo', 'Djibouti', 'Ethiopia',
       'Ghana', 'Guinea', 'Gambia', 'Guinea-Bissau', 'Kenya', 'Liberia',
       'Mali', 'Mozambique', 'Malawi', 'Niger', 'Nigeria', 'Rwanda',
       'Sudan', 'Senegal', 'Sierra Leone', 'Somalia', 'South Sudan',
       'Chad', 'Togo', 'Tanzania (United Republic of)', 'Uganda',
       'Zambia', 'Zimbabwe'], dtype=object)

In [55]:
data['Country'].value_counts()

Country
Democratic Republic of the Congo    89
Uganda                              87
Somalia                             71
Angola                              67
Guinea                              66
South Sudan                         65
Kenya                               60
Mali                                56
Burkina Faso                        55
Cameroon                            50
Nigeria                             44
Chad                                42
Ethiopia                            40
Ghana                               40
Central African Republic            37
Djibouti                            27
Benin                               26
Senegal                             25
Togo                                24
Niger                               24
Mozambique                          24
Gambia                              24
Rwanda                              22
Tanzania (United Republic of)       20
Cote d'Ivoire                       18
Malawi                              17
Zimbabwe                            16
Zambia                              15
Burundi                             12
Sudan                               11
Guinea-Bissau                        7
Liberia                              7
Sierra Leone                         3
Name: count, dtype: int64

In [56]:
data['ISO3'].unique()

array(['AGO', 'BDI', 'BEN', 'BFA', 'CAF', 'CIV', 'CMR', 'COD', 'DJI',
       'ETH', 'GHA', 'GIN', 'GMB', 'GNB', 'KEN', 'LBR', 'MLI', 'MOZ',
       'MWI', 'NER', 'NGA', 'RWA', 'SDN', 'SEN', 'SLE', 'SOM', 'SSD',
       'TCD', 'TGO', 'TZA', 'UGA', 'ZMB', 'ZWE'], dtype=object)

In [57]:
data['Country of Origin'].unique()

array(['Chad', "CÃ´te d'Ivoire", 'Dem. Rep. of the Congo', 'Eritrea',
       'Guinea', 'Liberia', 'Mauritania', 'Others', 'Rwanda',
       'Sierra Leone', 'Somalia', 'Sudan', 'Uganda', 'Various',
       'Burkina Faso', 'Central African Rep.', 'Togo', 'Burundi', 'Congo',
       'Mali', 'South Sudan', 'Syrian Arab Rep.', 'Nigeria', 'Angola',
       'Cameroon', 'Ethiopia', 'Senegal', 'Yemen', 'Niger', 'Mozambique',
       'Turkey', 'Gambia', 'Bangladesh', 'Djibouti', 'Egypt', 'Iraq',
       'Jordan', 'Kenya', 'Pakistan', 'State of Palestine',
       'United Arab Emirates', 'United Rep. of Tanzania',
       'United States of America', 'Ghana'], dtype=object)

In [58]:
data['ISO3 of Origin'].unique()

array(['TCD', 'CIV', 'COD', 'ERI', 'GIN', 'LBR', 'MRT', nan, 'RWA', 'SLE',
       'SOM', 'SDN', 'UGA', 'BFA', 'CAF', 'TGO', 'BDI', 'COG', 'MLI',
       'SSD', 'SYR', 'NGA', 'AGO', 'CMR', 'ETH', 'SEN', 'YEM', 'NER',
       'MOZ', 'TUR', 'GMB', 'BGD', 'DJI', 'EGY', 'IRQ', 'JOR', 'KEN',
       'PAK', 'PSE', 'ARE', 'TZA', 'USA', 'GHA'], dtype=object)

In [59]:
data.head(2)

,Country,ISO3,Country of Origin,ISO3 of Origin,Population type,Source,Date,Individuals
0,Angola,AGO,Chad,TCD,Asylum-Seekers,"UNHCR, Government",2024-06-30,968
1,Angola,AGO,Chad,TCD,Asylum-Seekers,"UNHCR, Government",2024-07-31,968

In [60]:
data['Population type'].unique()

array(['Asylum-Seekers', 'Refugees'], dtype=object)

In [61]:
data['Source'].unique()

array(['UNHCR, Government', 'Government, UNHCR', 'UNHCR',
       'UNHCR, Government, MINEMA', 'UNHCR, COR',
       'Office of the Prime Minister, UNHCR, Government'], dtype=object)

In [62]:
data.head(4)

,Country,ISO3,Country of Origin,ISO3 of Origin,Population type,Source,Date,Individuals
0,Angola,AGO,Chad,TCD,Asylum-Seekers,"UNHCR, Government",2024-06-30,968
1,Angola,AGO,Chad,TCD,Asylum-Seekers,"UNHCR, Government",2024-07-31,968
2,Angola,AGO,Chad,TCD,Asylum-Seekers,"UNHCR, Government",2024-08-31,968
3,Angola,AGO,Chad,TCD,Asylum-Seekers,"UNHCR, Government",2024-09-30,968

In [63]:
from sklearn.preprocessing import LabelEncoder

In [64]:
country_labeling = LabelEncoder()
data['Country'] = country_labeling.fit_transform(data['Country'])
data['Country of Origin'] = country_labeling.fit_transform(data['Country of Origin'])
data['Population type'] = country_labeling.fit_transform(data['Population type'])

In [65]:
data.head(2)

,Country,ISO3,Country of Origin,ISO3 of Origin,Population type,Source,Date,Individuals
0,0,AGO,6,TCD,0,"UNHCR, Government",2024-06-30,968
1,0,AGO,6,TCD,0,"UNHCR, Government",2024-07-31,968

In [66]:
data['Country'].unique()

array([ 0,  3,  1,  2,  5,  7,  4,  8,  9, 10, 12, 13, 11, 14, 15, 16, 18,
       19, 17, 20, 21, 22, 27, 23, 24, 25, 26,  6, 29, 28, 30, 31, 32])

In [67]:
import seaborn as sns

In [68]:
#sns.heatmap(data.corr())

# 3. Creation d'une Sub-dataset

In [69]:
sub_data = data[['Country of Origin', 'Individuals']]

In [70]:
sub_data.head()

   Country of Origin  Individuals
0                  6          968
1                  6          968
2                  6          968
3                  6          968
4                  6          968

In [71]:
data['Country of Origin'].unique()

array([ 6,  8,  9, 12, 16, 20, 22, 26, 28, 30, 31, 34, 38, 42,  2,  5, 36,
        3,  7, 21, 32, 35, 25,  0,  4, 13, 29, 43, 24, 23, 37, 14,  1, 10,
       11, 17, 18, 19, 27, 33, 39, 40, 41, 15])